<h2 class="mb-4">Simple query builder</h2>
<div>
    <universis-query-builder [persistent]="true" #queryBuilder (loadingProperties)="onLoadingProperties($event)" [queryEntityType]="'Student'" [query]="query" ></universis-query-builder>
</div>
<div>
    <button (click)="getQueryParams()" class="btn btn-primary">Query</button>
    <pre>
        {{queryParams | json}}
    </pre>
</div>
